
body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f6f9;
}

.img-section {
    position: relative;
}
.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-section img {
    width: 100%;
    display: block;
}


.logo-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    height: 100px;
}
.logo-text {
    margin: 0;
    color: whitesmoke;
    font-weight: bold;
    font-size: 80px;
}


.credit {
    position: absolute;
    bottom: 20px;
    color: whitesmoke;
    left: 18px;
    right: 18px;
    text-decoration: underline;
}



.signup-section {
    padding: 60px;
    background: #f4f6f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 13px;
    width: 360px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.signup-section p {
    color: darkslategrey;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-form h2 {
    color: #596D48;
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signup-form {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
button, .login-link, .signup-form h2 {
    grid-column: 1 / 3;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-top: 5px;
    font-size: 15px;
}
.form-group input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #a52a2a;
}
.form-group input:focus {
    outline: none;
    border-color: #008b8b;
}
button {
    width: 100%;
    padding: 14px;
    background-color: #4a90e2;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #a52a2a;
}
.login-link {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}